{:aliases {:dev   {:extra-paths ["development/src"
                                 "components/http/src"
                                 "components/auth/src"
                                 "components/mongo/src"
                                 "components/crypto/src"
                                 "components/user/src"
                                 "components/user/resources"
                                 "components/crypto/resources"
                                 "components/mongo/resources"
                                 "components/auth/resources"
                                 "components/http/resources"]
                   :extra-deps  {org.clojure/clojure    {:mvn/version "1.11.1"}
                                 ring/ring              {:mvn/version "1.10.0"}
                                 com.novemberain/monger {:mvn/version "3.6.0"}
                                 buddy/buddy            {:mvn/version "2.0.0"}
                                 clj-time/clj-time      {:mvn/version "0.15.2"}}}

           :test  {:extra-paths ["components/http/test"
                                 "components/mongo/test"
                                 "components/user/test"
                                 "components/crypto/test"
                                 "components/auth/test"]}

           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
                   :main-opts  ["-m" "nrepl.cmdline"
                                "-b" "0.0.0.0"
                                "-p" "16969"]}

           :poly  {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "a073b7c8dbea176a8cb39b3c4d7c3d465c99e946"
                                 :deps/root "projects/poly"}}}}}
